<!-- <mdc-drawer drawer="modal" #drawer>
  <mdc-drawer-header title="Kuzzle Ngrx DemoArchery Annotation"></mdc-drawer-header>

  <mdc-drawer-content>
    <app-sidenav-list (closeSidenav)="drawer.open = false"></app-sidenav-list>
  </mdc-drawer-content>
</mdc-drawer>
<app-header (sidenavToggle)="drawer.open = !drawer.open"></app-header>>
<div class="demo-drawer-app-content">
  <main mdcTopAppBarFixedAdjust mdcDrawerAppContent>
    <button mdcButton (click)="login()">Login</button>
    <router-outlet></router-outlet>
  </main>
</div> -->
  <button mdcButton (click)="subscribeToService()">Subscribe</button>
  <button mdcButton (click)="login()">Login</button>
  <button mdcButton (click)="logout()">Logout</button>
  <button mdcButton (click)="test()">test</button>
